<nav id="header-nav">
    <span id="header-logo-cont">
        <img id="header-logo" src="images/logo_LBL.png">
    </span>
    <span class="header-nav-item"> <a href="index.html">Home</a>                  </span>
    <span class="header-nav-item"> <a href="catalog.html">Catalog</a>             </span>
    <span class="header-nav-item"> <a href="how_to_order.html">How to order</a>   </span>
    <span class="header-nav-item"> <a href="faq.html">FAQ</a>                     </span>
    <span class="header-nav-item"> <a href="contact.html">Contact</a>             </span>
</nav>






